.footer {
  background-color: var(--background-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contact-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contact-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-footer-text-color);
}
.map {
  color: var(--footer-text-color);
}
.footer .container {
  display: flex;
}
.footer-adress {
  margin-right: 70px;
}
