.top-line {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.navigation {
  display: flex;
}
.container-top-line {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--titl-text-color);
}
.nav-link::after {
  display: none;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--background-btn);
  margin-top: 27px;
  margin-bottom: -31px;
}
.selected {
  color: var(--background-btn);
}
.selected::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--background-btn);
  margin-top: 27px;
  margin-bottom: -31px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--web-logo-color);
}
/* .nav-link:hover::after,
.nav-link:focus::after {
  display: block;
} */
.top-line-contacts-list {
  display: flex;
  margin-left: auto;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.top-phone,
.top-mail {
  fill: currentColor;
  margin-right: 10px;
}
.contaсt-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: flex;
  align-items: center;
}
.contaсt-link:hover,
.contaсt-link:focus {
  color: var(--web-logo-color);
}
