.gallery-previews {
  padding-top: 0;
}
.preview-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titl-text-color);
  margin-bottom: 50px;
}
.preview-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
