.gallery-previews {
  padding-top: 0;
}
.preview-title {
  @include font(700, 36px, 1.17, 0.03em);
  text-align: center;
  color: var(--titl-text-color);
  margin-bottom: 50px;
}
.preview-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
