.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.project-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.project-link {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  &:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.project-container {
  position: relative;
  overflow: hidden;
}
.tooltip {
  position: absolute;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .project-link:hover & {
    transform: translatey(-100%);
  }
}
.card-project {
  padding: 20px 24px;
  background: var(--footer-text-color);
  border: 1px solid #eeeeee;
  border-top: none;
  box-sizing: border-box;
}

.project-name {
  @include font(700, 18px, 2, 0.06em);
  color: var(--titl-text-color);
}

.development-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.member-metier,
.development-type {
  color: var(--text-color);
}
