.logo-home {
  font-family: var(--logo-font);
  @include font(700, 26px, 1.19, 0.03);
  margin-right: 93px;
}
.logo-web {
  color: var(--web-logo-color);
}
.logo-studio {
  color: var(--secondary-logo-color);
}
.footer-logo {
  font-family: var(--logo-font);
  @include font(700, 26px, 1.19, 0.03);
  display: flex;
  margin-bottom: 20px;
}
.footer-logo-web {
  color: var(--web-logo-color);
}
.footer-logo-studio {
  color: var(--secondary-logo-footer-color);
  display: inline-block;
}
