.logo {
  font-family: var(--logo-font);
  @include font(700, 26px, 30px, 0.03em);
}
.logo-header {
  margin-right: 93px;
}
.logo__web {
  color: var(--web-logo-color);
}
.logo-header_white {
  color: var(--secondary-logo-color);
}
.logo-footer {
  display: flex;
  margin-bottom: 20px;
}
.logo-footer_black {
  color: var(--secondary-logo-footer-color);
  display: inline-block;
}
