:root {
  --primary-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --text-color: #757575;
  --titl-text-color: #212121;
  --footer-text-color: #ffffff;
  --secondary-footer-text-color: rgba(255, 255, 255, 0.6);
  --background-hero: rgba(47, 48, 58, 0.4);
  --background-team: #f5f4fa;
  --card-title-color: #ffffff;
  --background-footer: #2f303a;
  --background-btn: #2196f3;
  --web-logo-color: #2196f3;
  --secondary-logo-color: #000000;
  --secondary-logo-footer-color: #ffffff;
  --hero-text-color: #ffffff;
  --accent-color: #188ce8;
}
